.form-div{
    margin: 1% 30%;
    background-color: #EEEEEE;
    padding: 4%;
    color: #0F0E0E;
    border-radius: 4%;

}

.form-text{
    color: #2C3333;
}

.btn{
    margin: 10% 13% 0% 13%;
}

h1{
    color: #222831;
    text-align: center;
    margin-bottom: 13%;
}

.error{
    color: #F05454;
}